/* == GLOBAL == */
@font-face {
  font-family: 'iosevka';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url('iosevka-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'iosevka';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url('iosevka-bold.woff2') format('woff2');
}

* {
  font-family: "iosevka";
}

html {
  font-family: "iosevka";
  font-size: 1rem;
  display: table;
  margin: auto;
  height: 1vh;
}

body {
  background-color: #fdf6e3;
}

h3 {
  color: #657b83;
}

a {
  color: #6c71c4;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-size: 1.1rem;
  color: #d33682;
}

a:active {
  font-size: 0.9rem;
}

img {
  width: 318px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  margin: 0 auto;
}

sub {
  margin-top: 12px;
  color: #93a1a1;

}

p {
  color: #657b83;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.centered-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: top;
  gap: 16px;
  min-height: 18px;
}

.navbar {
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.navbar-link {
  flex: 1 1;
}

.text-pane,
.img-pane {
  flex: 1 1 10px;
  width: 320px;
}

.text-pane {
  display: flex;
  flex-direction: column;
}

.inner-text-pane {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.left-right {
  display: flex;
  justify-content: space-between;
}

/* == HOME == */
#home-nav-pane {
  padding-top: 128px;
}

#home-site-name {
  text-align: center;
}

/* == ABOUT == */
.about-space {
  min-height: 20px;
}

.about-command {
  margin: 0px 0px 0.2rem 0.2rem;
}

.about-output {
  margin: 0px 0px 0.1rem 0.1rem;
}
