@font-face {
  font-family: "iosevka";
  src: url("iosevka.ttf");
}

@font-face {
  font-family: "iosevka";
  src: url("iosevka-bold.ttf");
  font-weight: bold;
}

html {
  font-family: "iosevka";
  font-size: 1rem;
  display: table;
  margin: auto;
  height: 100%;
}

body {
  background-color: #fdf6e3;
}

#centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
}

#left,
#right {
  flex: 1 1 320px;
  min-width: 320px;
  background-color: #eee8d5;
  border-width: 1px;
  border-style: solid;
  border-color: #93a1a160;
}

#left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 6px;
}

#right {
  border-radius: 6px;
}

h3 {
  color: #657b83;
  text-align: center;
  font-size: 18px;
}

a {
  color: #6c71c4;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
  font-size: 16px;
  color: #d33682;
}

img {
  border-radius: 4px;
}

